# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.idb
MSLParser/MSLParser/Debug/
MSLParser/ipch/MSLPARSER-18f4f580/MSLPARSER-19ab9da5.ipch
*.sdf
MSLParser/MSLParser.opensdf
MSLParser/ipch/
MSLParser/MSLParser/x64/Debug/
MSLParser/Debug/
*.tlog
